script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
script(src='/javascripts/material.js')
script(src='/javascripts/ripples.min.js')
script(src='/javascripts/underscore.js')
script(src='https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js')
script(src='/javascripts/angular-datatables.min.js')
script(src="/socket.io/socket.io.js")
script.
	$(document).ready(function() {
		$.material.init();
	});
script.
		