doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='https://code.angularjs.org/1.3.0/angular.js')
    script(src='/javascripts/order_controller.js')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/roboto.min.css')
    link(rel='stylesheet', href='/stylesheets/material.css')
    link(rel='stylesheet', href='/stylesheets/ripples.css')
  body
    block content
